.ideas {
  background-color: #0020f6;
  color: white;
  padding-bottom: 6rem;
  padding-top: 6rem;
  text-align: center;
}
.ideas--button {
  height: 40px;
  width: 160px;
  background-color: #e3f307;
  border: 1px solid #e3f307;
  border-radius: 5px;
  color: #0020f6;
  margin-right: 20px;
  font-size: 0.85rem;
  font-weight: 900;
  letter-spacing: 0.125rem;
  margin-top: 3.5rem;
  transition: all 0.25s ease-in-out;
}
.ideas--button:hover {
  height: 40px;
  width: 160px;
  background-color: #0020f6;
  border: 1px solid #e3f307;
  border-radius: 5px;
  color: #e3f307;
  transition: all 0.25s ease-in-out;
}
.ideas__heading {
  font-size: 3.375rem;
  margin-bottom: 1.25rem;
  font-weight: 900;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .ideas__heading {
    font-size: 1.85rem;
    margin-bottom: 1.25rem;
    font-weight: 900;
    padding: 10px;
  }
}