.insights {
  width: 100%;
  background-color: #0020f6;
}
.insights-container {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 4rem;
}
.insights-container__cards {
  display: flex;
}
.insights-container__cards__author {
  font-size: 13px;
  text-transform: lowercase;
  padding-top: 10px;
}
.insights-container__cards-1 {
  margin: 15px;
  background-color: white;
  height: 400px;
  display: inline-block;
}
.insights-container__cards-1:hover img {
  transform: scale(1.25);
}
.insights-container__cards__img {
  overflow: hidden;
}
.insights-container__cards__img img {
  width: 23rem;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.insights-container__cards__content {
  display: flex;
  flex-direction: column;
}
.insights-container__cards__content {
  position: relative;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
  display: flex;
  margin-right: 0px;
  padding-right: 0px;
  text-transform: uppercase;
}
.insights-container__cards__content::before {
  background-color: #e3f307;
  content: "";
  height: 0.25rem;
  width: 4.375rem;
  position: absolute;
  right: 0;
}
.insights-container__cards__heading {
  font-size: 1.2rem;
  color: #0020f6;
  width: 80%;
  font-weight: 900;
}
.insights-container__desc {
  color: white;
  max-width: 45rem;
  font-size: 1.2rem;
  margin-bottom: 96px;
}
.insights-container__heading h3 {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}
.insights-container__heading h3::before {
  content: "";
  height: 0.75rem;
  width: 100px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
  margin-right: 50px;
  background-color: #e3f307;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .insights-container {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 2rem;
  }
  .insights-container__cards {
    display: flex;
    flex-direction: column;
  }
  .insights-container__cards-1 {
    height: 420px;
  }
  .insights-container__heading h3 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
  }
  .insights-container__heading h3::before {
    content: "";
    height: 0.75rem;
    width: 70px;
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
    margin-right: 20px;
    background-color: #e3f307;
  }
  .insights-container__desc {
    color: white;
    max-width: 45rem;
    font-size: 1.2rem;
    margin-bottom: 96px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .insights-container__cards-1 {
    margin: 5px;
    background-color: white;
    height: 420px;
    display: inline-block;
    width: 106%;
  }
  .insights-container__cards__img img {
    width: 20rem;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
}