@use './abstract/colors' as *;
.footer{
    background-color: $secondary-white;
    font-size: .75rem;
    line-height: 2;
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
    &-container{
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        &__content-1{
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            width: 100%;
            border-bottom: 0.0625rem solid $tertiary-white;
            padding-bottom: 2.625rem;
            }
        &__lists{
            list-style: none;
            width:40%;
            li a{
                color: $primary-blue;
            }
        }
        &__location{
            padding-top: 1.8rem;

            &__list{
                list-style: none;
                width:35%;
                color: $secondary-blue;
                font-size: 14px;
            }
            &-sub{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap:7px ;
                margin-bottom: 1.5rem;
            }
            &__city{
                color: $secondary-blue;
                font-size: 1rem;
                font-weight: 900;
            }
        }
        &__social-media{
            display: flex;
            flex-direction: column;
            max-width: 90rem;
            margin: 0 auto;
            padding: 0 20px;
            &__heading{
                color: $primary-blue;
                font-size: 1rem;
                line-height: inherit;
                margin-bottom: 1rem;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
        &__media{
            display: flex;
            list-style: none;
            gap:4px;
            margin-bottom: 28px;
        }
        &__images{
            display: flex;
            list-style: none;
            gap:6px;
            &-1 img{
                width: 4.8rem;
            }
        }
        &__copyright{
            color: #001186;
            font-weight: 700;
        }

    }
}
.location-list{
    margin-right: 150px;
    margin-top: -35px;
}
.fa{
    font-size: 22px;
    height: 30px;
    width: 20px;
    background-color: $secondary-blue;
    text-align: center;
    border-radius: 50%;
    padding: 9px;
    padding-bottom: 2px;
    color: $primary-white;
}
a{
    text-decoration: none;
}

@media only screen and (min-width: 1025px) and (max-width: 2000px) {
    .footer{
        &-container{
            display: flex;
            flex-direction: row;
            max-width: 90rem;
            margin: 0 39.62px;
            padding: 0 20px;
            &__lists{
                width:unset;
            }
            &__content-1{
                justify-content: unset;
                gap: 2.5rem;
                padding-right: 4rem;
                width: unset;
                justify-content: unset;
                border-bottom: initial;
                border-right: 0.0625rem solid $tertiary-white;
                padding-bottom: 1.75rem;
                padding-top: 1.75rem;
                margin: 30px;
            }
            &__location{
                &-sub{
                display: flex;
                flex-wrap: unset;
                gap:10rem;
                margin-bottom: 1.5rem;
                padding-left: 4.875rem;
                padding-bottom: 1.75rem;
                padding-top: 1.75rem;
                justify-content: space-between;
                }
                &__list{
                    width: unset;
                }
            }
            &__social-media{
                margin-bottom: 1.5rem;
                padding-left: 4.875rem;
                padding-bottom: 1.75rem;
                margin-top: 5rem;
                &__container{
                    display: flex;
                    gap:unset;
                    flex-direction: column;
                    &-sub{
                        display: flex;
                        gap:4rem;
                    }
                }
            }
            &__media{
                display: flex;
                list-style: none;
                gap:0.7rem;
            }
            &__images{
                max-width: 60%;
                margin-top: -3rem;
                gap: 2rem;
                &-1 img {
                    width: 6rem;
                    &:hover {
                        height: auto;
                        width: 6.5rem;
                        transition: all .3s ease-in-out;
                    }
                }
            }
            &__copyright{
                position: absolute;
                left: 5%;
                /* top: 5%; */
                padding: 75px 0;
            }

        }
    }
    .location-list{
        margin-top: unset;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .footer{
        &-container{
        display: flex;
        flex-direction: row;
        max-width: 90rem;
        margin: 0 unset;
        padding: 0 20px;
            &__content-1{
                justify-content: unset;
                gap: 2.5rem;
                padding-right: 4rem;
                width: unset;
                justify-content: unset;
                border-bottom: initial;
                border-right: 0.0625rem solid $tertiary-white;
                padding-bottom: 1.75rem;
                padding-top: 1.75rem;
                margin: 30px;
            }
            &__location{
                &-sub{
                    display: flex;
                    flex-wrap: unset;
                    gap:3rem;
                    margin-bottom: 1.5rem;
                    padding-left: 4.875rem;
                    padding-bottom: 1.75rem;
                    padding-top: 1.75rem;
                    justify-content: unset;
                }
                &__list{
                    width: unset;
                }
            }
            &__social-media{
                margin-bottom: 1.5rem;
                padding-left: 4.875rem;
                padding-bottom: 1.75rem;
                &__container{
                    display: unset;
                    gap:unset;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &-sub{
                        display: flex;
                        flex-direction: row;
                        gap:2rem;
                    }
                }
                &__heading{
                    margin-top: 40px;
                }
            }
            &__media{
                display: flex;
                list-style: none;
                gap:0.7rem;
            }
            &__images{
                max-width: 60%;
                margin-top: -6rem;
                gap: 2rem;
                flex-wrap: wrap;
                &-1 img {
                    width: 6rem;
                    &:hover {
                        height: auto;
                        width: 6.5rem;
                        transition: all .1s ease-in-out;
                    }
                }
            }
            &__copyright{
                position: absolute;
                left: 5%;
                padding-top: 15rem;
            }

        }
    }
    .location-list{
        margin-top: unset;
        margin-right: unset;
    }
}