@use './abstract/colors' as *;
.insights{
    width: 100%;
    background-color:$secondary-blue;
    &-cont{
        display: flex;
        flex-direction: column;
        max-width: 75rem;
        margin: 0 auto;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 4rem;


        &__cards{
            display: flex;
            &__author {
                font-size: 13px;
                text-transform: lowercase;
                padding-top:10px ;
            }
            &-1{
                margin: 15px;
                background-color:$primary-white;
                height: 400px;
                display: inline-block;
                // .insights-cont__cards__img{
                //     transition: transform 0.3s ease-in-out;
                // }
                &:hover img{
                    transform: scale(1.25);
                }
            }
            &__img
            {
                overflow: hidden;
                img{
                width: 23rem;
                height: auto;
                transition: transform 0.3s ease-in-out;

            }
            }

            &__content{
                display: flex;
                flex-direction: column;
            }
            &__content{
                position: relative;
                font-weight: bold;
                padding-left: 20px;
                padding-top: 15px;
                display: flex;
                margin-right: 0px;
                padding-right: 0px;
                text-transform: uppercase;
                &::before{
                background-color:$secondary-yellow;
                content: "";
                height: 0.25rem;
                width: 4.375rem;
                position:absolute;
                right: 0;
            }
            }
            &__heading{
                font-size: 1.2rem;
                color: $secondary-blue;
                width: 80%;
                font-weight: 900;
            }
        }
        &__desc{
            color: $primary-white;
            max-width: 45rem;
            font-size: 1.2rem;
            margin-bottom: 96px;
        }
        &__head h3{
            font-size: 5rem;
            font-family: Arial, Helvetica, sans-serif;
            padding-top:100px ;
            font-weight: bold;
            color: $primary-white;
            margin-bottom: 25px;

            &::before{
                content: "";
                height: 0.75rem;
                width: 100px;
                display: inline-block;
                margin-bottom: 15px;
                vertical-align: middle;
                margin-right: 50px;
                background-color:$secondary-yellow;
            }
        }
    }
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .insights{
       &-cont{
        padding-left: unset;
        padding-right: unset;
        padding-bottom: 2rem;
        &__cards{
            display: flex;
            flex-direction: column;
            &-1{
                height:420px;
            }
        }
        &__head h3{
            font-size: 3rem;
            font-family: Arial, Helvetica, sans-serif;
            padding-top:100px ;
            font-weight: bold;
            color: $primary-white;
            margin-bottom: 25px;

            &::before{
                content: "";
                height: 0.75rem;
                width: 70px;
                display: inline-block;
                margin-bottom: 15px;
                vertical-align: middle;
                margin-right: 20px;
                background-color:$secondary-yellow;
            }
        }
        &__desc{
            color: $primary-white;
            max-width: 45rem;
            font-size: 1.2rem;
            margin-bottom: 96px;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }

    }
}
}
@media only screen and (min-width:668px )and (max-width:1024px){
.insights-cont__cards-1 {
    margin: 5px;
    background-color: $primary-white;
    height: 420px;
    display: inline-block;
    width: 106%;
}
.insights-cont__cards__img img {
    width: 20rem;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
}